<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanpoom.internal_cron.crons.dashboard.common.mapper.CommonMapper">

    <!-- tmp_revenue(start_dtime, end_dtime) -->
    <select id="getRevenue" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
            format(round(sum(details.order_total),2) - round(sum(details.order_discount),2),0)
        from(
            select
                id as order_no,
                id as parent_order_no, 
                post_date as order_date
            from	
                wphpm_posts
            where
                post_type = 'shop_order' 
                and post_status not in ('wc-cancelled','wc-failed','wc-on-hold','wc-refunded', 'wc-unshippable')
                and post_date
                    between 
                        #{start_date} and #{end_date}
        union all
            select
                refund_orders.order_no,
                refund_orders.parent_order_no,
                null as order_date
            from
                (select
                    id as order_no,
                    post_date as order_date,
                    post_status as order_status
                from	
                    wphpm_posts
                where
                    post_type = 'shop_order' 
                    and post_status not in ('wc-cancelled','wc-failed','wc-on-hold','wc-refunded', 'wc-unshippable')
                    and post_date
                        between 
                        #{start_date} and #{end_date}
                    ) as orders
                inner join
                    (select
                        id as order_no,
                        post_parent as parent_order_no
                    from	
                        wphpm_posts
                    where
                        post_type = 'shop_order_refund') as refund_orders
                on
                    orders.order_no = refund_orders.parent_order_no ) as united_orders
        inner join
            (select
					b.order_no,
                    case when b.order_currency ="KRW" then b.subtotal/b.exchange_rate
                    else b.subtotal end as subtotal,
                    case when b.order_currency ="KRW" then b.shipping/b.exchange_rate
                    else b.shipping end as shipping,
                    case when b.order_currency ="KRW" then b.order_total/b.exchange_rate
                    else b.order_total end as order_total,
                    case when b.order_currency ="KRW" then b.order_discount/b.exchange_rate
                    else b.order_discount end as order_discount               
                from
				(
					select
						a.order_no,
						group_concat(a.subtotal) as subtotal,
						group_concat(a.shipping) as shipping,
						group_concat(a.order_total) as order_total,
						group_concat(a.order_discount) as order_discount,
						group_concat(a.exchange_rate) as exchange_rate,
						COALESCE(group_concat(a.order_currency),"USD") as order_currency
                    from
                        (select
                            post_id as order_no,
                            case when meta_key = 'rs_cart_subtotal' then meta_value end as subtotal,
                            case when meta_key = '_order_shipping' then meta_value end as shipping,
                            case when meta_key = '_order_total' then meta_value end as order_total,
                            case when meta_key = '_cart_discount' then meta_value end as order_discount,
                            case when meta_key = '_exchange_rate_usd_krw' then meta_value end as exchange_rate,
                            case when meta_key = '_order_currency' then meta_value end as order_currency
                        from
                            wphpm_postmeta
                        where
                            meta_key in ('rs_cart_subtotal', '_order_shipping', '_order_total', '_cart_discount', '_exchange_rate_usd_krw', '_order_currency') ) as a
                    group by
                        a.order_no ) as b
            ) as details
        on
            united_orders.order_no = details.order_no;
    </select>

    <!-- tmp_new_users(start_dtime, end_dtime)  -->
    <select id="getNewUsers" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
            format(count(users.id),0)
        from
            (select
                id,
                user_email
            from
                wphpm_users
            where
                user_email not regexp '^[A-Z0-9._%-]+@hanpoom.[^@]{2,}$' and
                user_email
        <![CDATA[ <> ]]>
        '' and
                user_registered between #{start_date} and #{end_date}) as users
        inner join
            (select
                user_id
            from
                wphpm_usermeta
            where
                meta_key = 'wphpm_user_level' and 
                meta_value not in (9, 10) ) as details
        on
            users.id = details.user_id;
    </select>

    <!-- tmp_new_purchaser(start_dtime, end_dtime)  -->
    <select id="getNewPurchasers" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
            format(count(users.id),0)
        from
            (select
                id,
                user_email
            from
                wphpm_users
            where
                user_email not regexp '^[A-Z0-9._%-]+@hanpoom.[^@]{2,}$' and
                user_email
        <![CDATA[ <> ]]>
        '' and
                user_registered between #{start_date} and #{end_date}) as users
        inner join
            (select
                a.user_id,
                group_concat(a.user_level) as user_level,
                group_concat(a.order_count) as order_count
            from
                (select
                    user_id,
                    case when meta_key = 'wphpm_user_level' then meta_value end as user_level,
                    case when meta_key = '_order_count' then meta_value end as order_count
                from
                    wphpm_usermeta
                where
                    meta_key in ('wphpm_user_level', '_order_count') 
                ) as a
            group by
                a.user_id
            having 
                user_level not in (9, 10) and 
                order_count = 1 ) as details
        on
            users.id = details.user_id
        inner join
            (select
                orders.order_no,
                details.customer_id
            from
                (select
                    id as order_no
                from
                    wphpm_posts
                where
                    post_date between #{start_date} and #{end_date} and
                    post_status not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold') ) as orders
            inner join
                (select
                    post_id as order_no,
                    meta_value as customer_id
                from
                    wphpm_postmeta
                where
                    meta_key = '_customer_user') as details
            on
                orders.order_no = details.order_no) as valid_orders
        on
            users.id = valid_orders.customer_id;
    </select>

    <!-- tmp_new_re_purchaser(start_dtime, end_dtime)  -->
    <select id="getNewRepurchasers" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
            format(count(users.id),0)
        from
            (select
                id,
                user_email
            from
                wphpm_users
            where
                user_email not regexp '^[A-Z0-9._%-]+@hanpoom.[^@]{2,}$' and
                user_email
        <![CDATA[ <> ]]>
        '' and
                user_registered between #{start_date} and #{end_date}) as users
        inner join
            (select
                a.user_id,
                group_concat(a.user_level) as user_level,
                group_concat(a.order_count) as order_count
            from
                (select
                    user_id,
                    case when meta_key = 'wphpm_user_level' then meta_value end as user_level,
                    case when meta_key = '_order_count' then meta_value end as order_count
                from
                    wphpm_usermeta
                where
                    meta_key in ('wphpm_user_level', '_order_count') 
                ) as a
            group by
                a.user_id
            having 
                user_level not in (9, 10) and
        <![CDATA[ order_count  >= 2 ]]>
        ) as details
        on
            users.id = details.user_id
        inner join
            (select
                orders.order_no,
                details.customer_id
            from
                (select
                    id as order_no
                from
                    wphpm_posts
                where
                    post_date between #{start_date} and #{end_date} and
                    post_status not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold') ) as orders
            inner join
                (select
                    post_id as order_no,
                    meta_value as customer_id
                from
                    wphpm_postmeta
                where
                    meta_key = '_customer_user') as details
            on
                orders.order_no = details.order_no) as valid_orders
        on
            users.id = valid_orders.customer_id;
    </select>

    <!-- tmp_total_orders(start_dtime, end_dtime)  -->
    <select id="getTotalOrders" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
            format(count(id),0)
        from
            wphpm_posts
        where
            post_date 
                between #{start_date} and #{end_date} and
            post_status 
                not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold') and
            post_type = 'shop_order';
    </select>

    <!-- tmp_total_margins(start_dtime, end_dtime)  -->
    <select id="getTotalMargins" parameterType="hanpoom.internal_cron.crons.dashboard.common.vo.DateRangeVO" resultType="java.lang.String">
        select
        <!-- orders.order_no,
            orders.post_parent, -->
        format(round(sum(item_meta.total) - sum(item_meta.cost), 0), 0) 
        from
            ((select
                    id as order_no,
                    id as post_parent
                from
                    wphpm_posts
                where
                    post_type = 'shop_order' and 
                    post_status not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold') and
                    post_date between #{start_date} and #{end_date})
            union distinct 
                (select
                    child_orders.order_no,
                    orders.order_no
                from
                    (select
                        id as order_no,
                        id as post_parent
                    from
                        wphpm_posts
                    where
                        post_type = 'shop_order' and 
                        post_status not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold') and
                        post_date between #{start_date} and #{end_date}) as orders
                inner join
                    (select
                        id as order_no,
                        post_parent as parent_order_no
                    from
                        wphpm_posts
                    where
                        post_type = 'shop_order_refund' and 
                        post_status not in ('wc-refunded', 'wc-cancelled', 'wc-unshippable', 'wc-on-hold')
                        ) as child_orders
                on
                    orders.order_no = child_orders.parent_order_no
                ) ) as orders
        inner join
            (select
                order_item_id,
                order_id as order_no
            from
                wphpm_woocommerce_order_items
            where
                order_item_type = 'line_item') as items
        on
            orders.order_no = items.order_no
        inner join
            (select
                a.order_item_id,
                group_concat(a.cost) as cost,
                group_concat(a.total) as total
            from
                (select
                    order_item_id,
                    case when meta_key = '_wc_cog_item_total_cost' then meta_value end as cost,
                    case when meta_key = '_line_total' then meta_value end as total
                from	
                    wphpm_woocommerce_order_itemmeta
                where
                    meta_key in ('_wc_cog_item_total_cost', '_line_total') ) as a
            group by
                a.order_item_id) as item_meta
        on	
            items.order_item_id = item_meta.order_item_id;
    </select>
</mapper>