@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Custom Reset */

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}


/* Prevent paddings from adding to the total width of a div */

div,
li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.title-row:after,
.input-row .input-wide:after,
.input-row.two-col:after,
.input-row:after,
.uploaded-images:after,
.actions-row:after,
.navigation-row:after {
    content: "";
    display: table;
    clear: both;
}

.input-row .input-wide:before {
    content: "";
    display: table;
    clear: both;
}

body,
input,
select,
button {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    color: #111111;
    font-size: 13px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
}

a {
    color: #0D45D3;
}

input[type='text'] {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

input[type='text']::-webkit-input-placeholder {
    color: #8A9099;
}

input[type='text']:-ms-input-placeholder {
    color: #8A9099;
}

input[type='text']::-ms-input-placeholder {
    color: #8A9099;
}

input[type='text']::placeholder {
    color: #8A9099;
}

input[type='text']:hover,
input[type='text']:active {
    border: #BBBBBB 1px solid;
}

input[type='number'] {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

input[type='number']::-webkit-input-placeholder {
    color: #8A9099;
}

input[type='number']:-ms-input-placeholder {
    color: #8A9099;
}

input[type='number']::-ms-input-placeholder {
    color: #8A9099;
}

input[type='number']::placeholder {
    color: #8A9099;
}

input[type='number']:hover,
input[type='number']:active {
    border: #BBBBBB 1px solid;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='submit'] {
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 0px 14px;
}

input[type='submit'].secondary {
    background: rgba(13, 69, 211, 0.1);
    border: 1px solid rgba(13, 69, 211, 0.2);
    color: #0D45D3;
}

input[type='submit']:hover {
    cursor: pointer;
}

input[type='checkbox'] {
    border: 1px solid #E0E0E0;
    width: 15px;
    height: 15px;
}

input[type='datetime-local'] {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
}

select {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
    width: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url(/images/icons/arrowdown_16x10.png) no-repeat 92% 50% #FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:hover,
select:active {
    border: #BBBBBB 1px solid;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
    color: #3F434A;
    display: block;
    font-size: 12px;
    line-height: 17px;
}

textarea {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    width: 99%;
}

textarea::-webkit-input-placeholder {
    color: #595F69;
}

textarea:-ms-input-placeholder {
    color: #595F69;
}

textarea::-ms-input-placeholder {
    color: #595F69;
}

textarea::placeholder {
    color: #595F69;
}

textarea:hover,
textarea:active {
    border: #BBBBBB 1px solid;
    cursor: pointer;
}

input[disabled] {
    background: #F9F9F9;
}

input[disabled]:hover {
    border: #E0E0E0 1px solid;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input::before {
    content: 'Select file';
    display: inline-block;
    color: #0D45D3;
    background: rgba(13, 69, 211, 0.1);
    border: 1px solid rgba(13, 69, 211, 0.2);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

.file-input:hover::before {
    border-color: rgba(13, 69, 211, 0.2);
}

.file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

select.select-search-single {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
    width: 100%;
    color: #595F69;
}

.select2-container--default .select2-selection--single {
    border: #E0E0E0 1px solid;
    height: 35px;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
    padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.select2-results__option {
    padding: 11px 15px;
}

.select2-search--dropdown .select2-search__field {
    padding: 7px 10px;
}

.select2-container--focus .select2-selection--single {
    border: 1px solid #BBBBBB;
}

.select2-search--dropdown {
    padding: 6px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

.select2-dropdown {
    border: 1px solid #BBBBBB;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba(13, 69, 211, 0.1);
    color: #0D45D3;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #0D45D3;
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px;
}

input.error {
    border: 1px solid #FF3B2C;
}

label.error {
    color: #FF3B2C;
}

.button,
button {
    display: inline-block;
    padding: 7px 12px 6px 12px;
    border: 0px;
    width: 100%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    border-radius: 5px;
}

.button.primary,
button.primary {
    background-color: #FF3B2C;
    border: 1px solid #FF3B2C;
    color: white;
}

.button.primary:hover,
button.primary:hover {
    background: #c50e00;
    border-color: #c50e00;
}

.button.secondary,
button.secondary {
    background-color: rgba(13, 69, 211, 0.1);
    border: 1px solid rgba(13, 69, 211, 0.2);
    color: #0D45D3;
}

.button.secondary:hover,
button.secondary:hover {
    background: rgba(13, 69, 211, 0.15);
}

.button.greyed,
button.greyed {
    color: #8A9099;
}

.button.disabled,
button.disabled {
    background-color: #C6C6C6;
    border: 1px solid #C6C6C6;
    color: white;
}

.button.disabled:hover,
button.disabled:hover {
    background-color: #C6C6C6;
    border: 1px solid #C6C6C6;
}

.button.success,
button.success {
    background-color: #008d49;
    border: 1px solid #008d49;
    color: white;
}

.button.success:hover,
button.success:hover {
    background: #005a2f;
    border-color: #005a2f;
}

.button:hover,
button:hover {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    cursor: pointer;
}

.filter-button {
    border: 1px solid #E0E0E0;
    color: #595F69;
    display: inline-block;
    padding: 0px 10px;
    line-height: 35px;
    height: 35px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-button i {
    float: right;
    padding-top: 6px;
    font-size: 20px;
    color: #595F69;
}

.checkbox-table {
    width: 100%;
    text-align: left;
}

.checkbox-table thead tr,
.checkbox-table tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

.checkbox-table thead th,
.checkbox-table tbody th {
    color: #595F69;
}

.checkbox-table thead th,
.checkbox-table thead td,
.checkbox-table tbody th,
.checkbox-table tbody td {
    vertical-align: middle;
    padding: 10px 10px;
}

.checkbox-table thead th:first-child,
.checkbox-table thead td:first-child,
.checkbox-table tbody th:first-child,
.checkbox-table tbody td:first-child {
    padding-left: 20px;
    width: 50px;
}

.checkbox-table thead th:last-child,
.checkbox-table thead td:last-child,
.checkbox-table tbody th:last-child,
.checkbox-table tbody td:last-child {
    padding-right: 20px;
}

.checkbox-table thead .selected,
.checkbox-table tbody .selected {
    background: #F9F9F9;
}

.checkbox-table .product-sku {
    margin-top: 8px;
}

.checkbox-table .product-thumb {
    float: left;
    max-width: 50px;
    margin-right: 10px;
}

.regular-table {
    width: 100%;
    text-align: left;
}

.regular-table thead tr,
.regular-table tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

.regular-table thead th,
.regular-table tbody th {
    color: #595F69;
}

.regular-table thead th,
.regular-table thead td,
.regular-table tbody th,
.regular-table tbody td {
    vertical-align: middle;
    padding: 14px 12px;
}

.regular-table thead th:first-child,
.regular-table thead td:first-child,
.regular-table tbody th:first-child,
.regular-table tbody td:first-child {
    padding-left: 20px;
}

.regular-table thead th:last-child,
.regular-table thead td:last-child,
.regular-table tbody th:last-child,
.regular-table tbody td:last-child {
    padding-right: 20px;
}

.regular-table thead .selected,
.regular-table tbody .selected {
    background: #F9F9F9;
}

.regular-table .hidden-row table {
    width: 100%;
}

.regular-table .hidden-row thead th,
.regular-table .hidden-row tbody th {
    background: #F9F9F9;
    border-top: 0px;
}

.regular-table .hidden-row thead tr,
.regular-table .hidden-row tbody tr {
    border-bottom: 0;
}

.regular-table .hidden-row .divider {
    text-align: center;
    border-left: 1px solid #E0E0E0;
}

.regular-table .hidden-row .title {
    color: #8A9099;
}

.regular-table .hidden-row .title span {
    color: #3F434A;
    line-height: 18px;
}

.regular-table .no-pad {
    padding: 0px !important;
}

.regular-table input[type='datetime-local'] {
    width: 200px;
}

body {
    background: #F9F9F9;
}

.container {
    margin: 30px 0px;
}

.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: table;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.content.full-width {
    background: white;
    border-radius: 10px;
}

.content .main {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding: 20px 20px 20px 0;
}

.content .side {
    display: table-cell;
    vertical-align: top;
    min-width: 320px;
    padding: 20px 0px 20px 0px;
}

.content .side .input-col {
    width: 47%;
}

.title-row {
    width: 100%;
    margin-bottom: 20px;
}

.title-row .sub {
    color: #595F69;
    font-size: 16px;
    margin-top: 10px;
}

.notice {
    margin-top: 15px;
}

.notice .success {
    color: #008d49;
    background: rgba(0, 141, 73, 0.1);
    border-radius: 5px;
    padding: 14px;
}

.block {
    background: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.block .block-pad {
    padding: 20px;
}

.block .block-pad:not(:last-child) {
    border-bottom: 1px solid #E0E0E0;
}

.block .block-pad .section-title {
    margin-bottom: 0px;
}

.block.plain {
    background: none;
}

.input-row:not(:last-child) {
    padding-bottom: 15px;
}

.input-row .input-wide:not(:last-child) {
    margin-bottom: 15px;
}

.input-row .input-col {
    float: left;
    width: 31.9%;
}

.input-row .input-col:not(:last-child) {
    margin-right: 6%;
}

.input-row.header-row .input-col {
    margin-top: 10px;
}

.input-row.two-col {
    display: table;
    width: 100%;
}

.input-row.two-col .col {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.input-row.two-col .col:only-child {
    padding-right: 20px;
}

.input-row.two-col .col:not(:last-child) {
    padding-right: 20px;
}

.input-row.two-col .input-col {
    width: 30.8%;
}

.input-row.two-col .input-col:not(:last-child) {
    margin-right: 3.7%;
}

.input-row.two-col .input-col.two {
    width: 48%;
}

.input-row.two-col .input-col.four {
    width: 22%;
}

.edit-history {
    padding-left: 18px;
}

.edit-history li {
    list-style: disc;
    color: #595F69;
    font-size: 12px;
    margin-bottom: 5px;
}

.uploaded-images {
    margin-bottom: 15px;
}

.uploaded-images img {
    max-width: 100px;
    float: left;
    margin-right: 15px;
}

.actions-row {
    padding: 20px;
}

.actions-row.four-col div {
    float: left;
}

.actions-row.four-col div:not(:first-child) {
    padding-left: 15px;
}

.actions-row.four-col .actions {
    width: 25%;
}

.actions-row.four-col .actions select {
    width: calc(100% - 90px);
}

.actions-row.four-col .actions input[type='submit'] {
    float: right;
}

.actions-row.four-col .search {
    position: relative;
    width: 45%;
}

.actions-row.four-col .search input[type='text'] {
    width: 100%;
}

.actions-row.four-col .search button {
    position: absolute;
    background: none;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 0px;
    padding-top: 4px;
}

.actions-row.four-col .search i {
    color: #595F69;
    font-size: 20px;
}

.actions-row.four-col .filter {
    width: 15%;
}

.actions-row.four-col .filter a {
    width: 100%;
}

.actions-row.four-col .sort {
    width: 15%;
}

.actions-row.four-col .sort select {
    width: 100%;
}

.actions-row.three-col div {
    float: left;
}

.actions-row.three-col select,
.actions-row.three-col input {
    float: left;
}

.actions-row.three-col .search {
    position: relative;
    width: 47%;
    margin-right: 9%;
}

.actions-row.three-col .search select {
    width: 30%;
}

.actions-row.three-col .search input[type="text"] {
    width: 68%;
    margin-left: 2%;
}

.actions-row.three-col .search input[type="submit"] {
    width: 16%;
    margin-left: 2%;
}

.actions-row.three-col .search button {
    position: absolute;
    background: none;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 0px;
    padding-top: 4px;
}

.actions-row.three-col .search i {
    color: #595F69;
    font-size: 20px;
}

.actions-row.three-col .item-range {
    width: 14%;
    margin-left: 3%;
}

.actions-row.three-col .item-range select {
    width: 56%;
}

.actions-row.three-col .item-range input[type="submit"] {
    width: 40%;
    margin-left: 4%;
}

.actions-row.three-col .sort-by {
    width: 27%;
}

.actions-row.three-col .sort-by select {
    width: 38%;
}

.actions-row.three-col .sort-by select:not(:first-child) {
    margin-left: 3%;
}

.actions-row.three-col .sort-by input[type="submit"] {
    width: 18%;
    margin-left: 3%;
}

.navigation-row {
    text-align: right;
    padding: 15px 20px;
}

.navigation-row .count {
    display: inline-block;
}

.navigation-row .count span {
    padding-right: 15px;
}

.navigation-row .count select {
    width: 80px;
    margin-right: 15px;
}

.navigation-row .pagination {
    display: inline-block;
    vertical-align: top;
}

.navigation-row .pagination a {
    color: #595F69;
    border: 1px solid #E0E0E0;
    text-align: center;
    background-color: #F9F9F9;
    padding: 7px;
}

.navigation-row .pagination a.previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navigation-row .pagination a.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -4px;
}

.navigation-row .pagination input[type="text"] {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    width: 40px;
}

.navigation-row .pagination span {
    margin-left: 15px;
}

.tabs li {
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}

.tabs a {
    display: inline-block;
    color: #595F69;
}

.tabs span {
    font-size: 10px;
    color: #8A9099;
    background-color: #E0E0E0;
    padding: 2px 4px;
    border-radius: 5px;
    margin-left: 5px;
}

.tabs .flushed-left {
    float: left;
}

.tabs .flushed-right {
    float: right;
}


/*# sourceMappingURL=main.css.map */

.longwidth-table {
    width: 1600px;
    text-align: left;
}

.longwidth-table th,
td {
    vertical-align: middle;
    padding: 4px 3px;
}

.longwidth-table .date {
    width: 100px;
}

.longwidth-table .qty {
    width: 10px;
}

.longwidth-table input[type="text"] {
    font-size: x-small;
    padding: 0px 1px;
}

.longwidth-table .remark input {
    width: 80px;
}

.longwidth-table .email input {
    width: 120px;
}

.page{
    text-align: center;
    width: 100%;
}
.page-list>li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-list>li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-list>li.active,
.page-list>li:hover {
    border: 1px solid #e3e3e3 !important;
    background-color: #edf0f4 !important;
    color: #4d5666;
}

.page-list>li {
    display: inline-block;
    border: 1px solid #e3e3e3;
    padding: 10px 10px;
    margin-right: -1px;
    cursor: pointer;
    background: #fff;
}