@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Reset */
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

/* Prevent paddings from adding to the total width of a div */
div, li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.title-row:after, .input-row .input-wide:after, .input-row.two-col:after, .input-row:after, .uploaded-images:after, .actions-row:after, .navigation-row:after {
  content: "";
  display: table;
  clear: both;
}

.input-row .input-wide:before {
  content: "";
  display: table;
  clear: both;
}

body, input, select, button {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  color: #111111;
  font-size: 13px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
}

a {
  color: #0D45D3;
}

input[type='text'] {
  border: #E0E0E0 1px solid;
  border-radius: 5px;
  height: 35px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

input[type='text']::-webkit-input-placeholder {
  color: #8A9099;
}

input[type='text']:-ms-input-placeholder {
  color: #8A9099;
}

input[type='text']::-ms-input-placeholder {
  color: #8A9099;
}

input[type='text']::placeholder {
  color: #8A9099;
}

input[type='text']:hover, input[type='text']:active {
  border: #BBBBBB 1px solid;
}

input[type='number'] {
  border: #E0E0E0 1px solid;
  border-radius: 5px;
  height: 35px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

input[type='number']::-webkit-input-placeholder {
  color: #8A9099;
}

input[type='number']:-ms-input-placeholder {
  color: #8A9099;
}

input[type='number']::-ms-input-placeholder {
  color: #8A9099;
}

input[type='number']::placeholder {
  color: #8A9099;
}

input[type='number']:hover, input[type='number']:active {
  border: #BBBBBB 1px solid;
}

input[type='submit'] {
  border: none;
  border-radius: 5px;
  height: 35px;
  padding: 0px 14px;
}

input[type='submit'].secondary {
  background: rgba(13, 69, 211, 0.1);
  border: 1px solid rgba(13, 69, 211, 0.2);
  color: #0D45D3;
}

input[type='submit']:hover {
  cursor: pointer;
}

input[type='checkbox'] {
  border: 1px solid #E0E0E0;
  width: 15px;
  height: 15px;
}

select {
  border: #E0E0E0 1px solid;
  border-radius: 5px;
  height: 35px;
  padding: 0px 10px;
  width: 100%;
  color: #595F69;
}

select:hover, select:active {
  border: #BBBBBB 1px solid;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
  color: #3F434A;
  display: block;
  font-size: 12px;
  line-height: 17px;
}

textarea {
  border: #E0E0E0 1px solid;
  border-radius: 5px;
  width: 99%;
}

textarea::-webkit-input-placeholder {
  color: #595F69;
}

textarea:-ms-input-placeholder {
  color: #595F69;
}

textarea::-ms-input-placeholder {
  color: #595F69;
}

textarea::placeholder {
  color: #595F69;
}

textarea:hover, textarea:active {
  border: #BBBBBB 1px solid;
  cursor: pointer;
}

input[disabled] {
  background: #F9F9F9;
}

input[disabled]:hover {
  border: #E0E0E0 1px solid;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: 'Select file';
  display: inline-block;
  color: #0D45D3;
  background: rgba(13, 69, 211, 0.1);
  border: 1px solid rgba(13, 69, 211, 0.2);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.file-input:hover::before {
  border-color: rgba(13, 69, 211, 0.2);
}

.file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.button, button {
  display: inline-block;
  padding: 7px 12px 6px 12px;
  border: 0px;
  width: 100%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border-radius: 5px;
}

.button.primary, button.primary {
  background-color: #FF3B2C;
  border: 1px solid #FF3B2C;
  color: white;
}

.button.primary:hover, button.primary:hover {
  background: #c50e00;
  border-color: #c50e00;
}

.button.secondary, button.secondary {
  background-color: rgba(13, 69, 211, 0.1);
  border: 1px solid rgba(13, 69, 211, 0.2);
  color: #0D45D3;
}

.button.secondary:hover, button.secondary:hover {
  background: rgba(13, 69, 211, 0.15);
}

.button:hover, button:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  cursor: pointer;
}

.filter-button {
  border: 1px solid #E0E0E0;
  color: #595F69;
  display: inline-block;
  padding: 0px 10px;
  line-height: 35px;
  height: 35px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter-button i {
  float: right;
  padding-top: 6px;
  font-size: 20px;
  color: #595F69;
}

.checkbox-table {
  width: 100%;
  text-align: left;
}

.checkbox-table thead tr, .checkbox-table tbody tr {
  border-bottom: 1px solid #E0E0E0;
}

.checkbox-table thead th, .checkbox-table tbody th {
  color: #595F69;
}

.checkbox-table thead th, .checkbox-table thead td, .checkbox-table tbody th, .checkbox-table tbody td {
  vertical-align: middle;
  padding: 12px 6px;
}

.checkbox-table thead th:first-child, .checkbox-table thead td:first-child, .checkbox-table tbody th:first-child, .checkbox-table tbody td:first-child {
  padding-left: 20px;
  width: 100px;
}

.checkbox-table thead th:last-child, .checkbox-table thead td:last-child, .checkbox-table tbody th:last-child, .checkbox-table tbody td:last-child {
  padding-right: 20px;
}

.checkbox-table thead .selected, .checkbox-table tbody .selected {
  background: #F9F9F9;
}

.checkbox-table .product-sku {
  margin-top: 8px;
}

.checkbox-table .product-thumb {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}

body {
  background: #F9F9F9;
}

.container {
  margin: 30px 0px;
  font-size: 11px;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: table;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.content.full-width {
  background: white;
  border-radius: 10px;
}

.content .main {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 20px 20px 20px 0;
}

.content .side {
  display: table-cell;
  vertical-align: top;
  min-width: 320px;
  padding: 20px 0px 20px 0px;
}

.content .side .input-col {
  width: 47%;
}

.title-row {
  width: 100%;
  margin-bottom: 15px;
}

.title-row h1 {
  margin-bottom: 10px;
}

.block {
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.block .block-pad {
  padding: 20px;
}

.block .block-pad:not(:last-child) {
  border-bottom: 1px solid #E0E0E0;
}

.block .block-pad .section-title {
  margin-bottom: 0px;
}

.block.plain {
  background: none;
}

.input-row:not(:last-child) {
  padding-bottom: 15px;
}

.input-row .input-wide:not(:last-child) {
  margin-bottom: 15px;
}

.input-row .input-col {
  float: left;
  width: 31.9%;
}

.input-row .input-col:not(:last-child) {
  margin-right: 2%;
}

.input-row.header-row .input-col {
  margin-top: 10px;
}

.input-row.two-col {
  display: table;
  width: 100%;
}

.input-row.two-col .col {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.input-row.two-col .col:only-child {
  padding-right: 20px;
}

.input-row.two-col .col:not(:last-child) {
  padding-right: 20px;
}

.input-row.two-col .input-col {
  width: 30.8%;
}

.input-row.two-col .input-col:not(:last-child) {
  margin-right: 3.7%;
}

.edit-history {
  padding-left: 18px;
}

.edit-history li {
  list-style: disc;
  color: #595F69;
  font-size: 12px;
  margin-bottom: 5px;
}

.uploaded-images {
  margin-bottom: 15px;
}

.uploaded-images img {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}

.actions-row {
  padding: 20px;
}

.actions-row.four-col div {
  float: left;
}

.actions-row.four-col div:not(:first-child) {
  padding-left: 15px;
  max-width: 200px;
}

.actions-row.four-col .actions {
  width: 25%;
}

.actions-row.four-col .actions select {
  width: calc(100% - 90px);
}

.actions-row.four-col .actions input[type='submit'] {
  float: right;
}

.actions-row.four-col .search {
  position: relative;
  width: 45%;
}

.actions-row.four-col .search input[type='text'] {
  width: 100%;
}

.actions-row.four-col .search button {
  position: absolute;
  background: none;
  right: 0px;
  width: 35px;
  height: 35px;
  padding: 0px;
  padding-top: 4px;
  top: 0;
}

.actions-row.four-col .search button.clear {
  right: 35px;
  display: none;
}

.actions-row.four-col .search i {
  color: #595F69;
  font-size: 20px;
}

.actions-row.four-col .filter {
  width: 15%;
}

.actions-row.four-col .filter a {
  width: 100%;
}

.actions-row.four-col .sort {
  width: 15%;
}

.actions-row.four-col .sort select {
  width: 100%;
}

.navigation-row {
  text-align: right;
  padding: 15px 20px;
}

.navigation-row .count {
  display: inline-block;
}

.navigation-row .count span {
  padding-right: 15px;
}

.navigation-row .count select {
  width: 80px;
  margin-right: 15px;
}

.navigation-row .pagination {
  display: inline-block;
  vertical-align: top;
}

.navigation-row .pagination a {
  color: #595F69;
  border: 1px solid #E0E0E0;
  text-align: center;
  background-color: #F9F9F9;
  padding: 7px;
}

.navigation-row .pagination a.previous {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navigation-row .pagination a.next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
}

.navigation-row .pagination input[type="text"] {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  width: 40px;
}

.navigation-row .pagination span {
  margin-left: 15px;
}

.tabs li {
  display: inline-block;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 20px;
}

.tabs a {
  display: inline-block;
  color: #595F69;
}

.tabs span {
  font-size: 10px;
  color: #8A9099;
  background-color: #E0E0E0;
  padding: 2px 4px;
  border-radius: 5px;
  margin-left: 5px;
}

.tabs .flushed-left {
  float: left;
}

.tabs .flushed-right {
  float: right;
}


ul.pagination { display: inline; } 
ul.pagination li { list-style: none;display: inline;}

#historyList input[type="text"] {
	width: 70px;
	font-size: 11px;
}

#historyList input[type="text"]#productQty {
  width: 50px;
}

#historyList input[type="button"] {
	color: white;
	background-color: #FF3B2C;
	border: none;
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px 15px;
  font-size: 11px;
  cursor: pointer;
}

.btn-list {
	width: 100%;
	display: inline-block;
}

.deposit-status.deposit-no {
	color: #FF6347;
}

.deposit-status.deposit-yes {
	color: #00FF7F;
}

/*# sourceMappingURL=main.css.map */