<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanpoom.internal_cron.crons.dashboard.fedex.mapper.FedexMapper">

    <select id="getOrderShipments" resultType="hanpoom.internal_cron.crons.dashboard.fedex.vo.OrderShipment">
        select
            orders.order_no as orderNo,
            orders.order_date as orderDate,
            ifnull(details.shipment_class, 'regular') as shipmentClass,
            details.tracking_no as trackingNo,
            details.service_type as serviceType
        from
            (select
                id as order_no,
                post_date as order_date
            from
                wphpm_posts
            where
                post_type = 'shop_order' and 
                post_status = 'wc-shipped'
                ) as orders
        inner join
            (select
                a.order_no,
                group_concat(a.shipment_class) as shipment_class,
                group_concat(a.tracking_no) as tracking_no,
                group_concat(a.service_type) as service_type
            from
                (select
                    post_id as order_no,
                    case when meta_key = '_shipment_class' then meta_value end as shipment_class,
                    case when meta_key = '_aftership_tracking_number' then meta_value end as tracking_no,
                    case when meta_key = '_fedex_service_type' then meta_value end as service_type
                from
                    wphpm_postmeta
                where
                    meta_key in ('_shipment_class', '_aftership_tracking_number', '_fedex_service_type') ) as a
            group by
                a.order_no
            having 
                length(tracking_no) <![CDATA[ > ]]> 10 and
                shipment_class = 'usdomestic') as details
        on
            orders.order_no = details.order_no
        left join
            (select
                order_no,
                tracking_no
            from
                us_ca_a_wh_delivered
            ) as delivered_orders
        on
            orders.order_no = delivered_orders.order_no and
            details.tracking_no = delivered_orders.tracking_no
        left join
            (select
                order_no,
                tracking_no
            from
                us_ca_a_wh_shipment_error
            ) as issue_orders
        on
            orders.order_no = issue_orders.order_no and
            details.tracking_no = issue_orders.tracking_no
        where
            delivered_orders.order_no is null and
            delivered_orders.tracking_no is null and
            issue_orders.order_no is null and 
            issue_orders.tracking_no is null;
    </select>

    <select id="getShipments" resultType="hanpoom.internal_cron.crons.dashboard.fedex.vo.OrderShipment">
        select 
            a.orderNo,
            group_concat(a.trackingNo) as trackingNo,
            group_concat(a.shipmentClass) as shipmentClass
        from
            (select
                post_id as orderNo,
                case when meta_key = '_aftership_tracking_number' then meta_value end as trackingNo,
                case when meta_key = '_shipment_class' then meta_value end as shipmentClass
            from
                wphpm_postmeta
            where
                meta_key in ('_aftership_tracking_number', '_shipment_class') and
                post_id in 
                <foreach item="orderNo" collection="orderNos" separator="," open="(" close=")">
                    #{orderNo}
                </foreach>) as a
        group by 
            a.orderNo
    </select>

    <insert id="insertDeliveredShipments" parameterType="java.util.List">
        insert into us_ca_a_wh_delivered 
            (order_no, tracking_no, carrier, event, event_code, shipped_dtime, delivered_dtime)
        values
        <foreach item="shipment" index="index" collection="orders" separator="," close=";">
            (#{shipment.orderNo}, #{shipment.trackingNo}, 'Fedex', #{shipment.event},
             #{shipment.eventCode}, #{shipment.shippedDate}, #{shipment.eventDate})
        </foreach>
    </insert>

    <insert id="insertErrorShipments" parameterType="java.util.List">
        insert into us_ca_a_wh_shipment_error 
        (order_no, tracking_no, carrier, event, event_code, event_dtime)
    values
        <foreach item="shipment" index="index" collection="orders" separator="," close=";">
        (#{shipment.orderNo}, #{shipment.trackingNo}, 'Fedex', #{shipment.event},
         #{shipment.eventCode}, #{shipment.eventDate})
    </foreach>
    </insert>


</mapper>