$text-darkest: #111111;
$text-dark: #3F434A;
$text-medium: #595F69;
$text-light: #8A9099;

$border-dark: #BBBBBB;
$border-medium: #C6C6C6;
$border-light: #E0E0E0;

$bg-dark: #EBEBEB;
$bg-medium: #F3F3F3;
$bg-light: #F9F9F9;

$link-color: #0D45D3;
$primary-color: #FF3B2C;
$error-color: #FF3B2C;
//$success-color: #00B25C;
$success-color: #008d49;
$warning-color: #DB8605;

$link-bg: rgba($link-color, .1);
$primary-bg: rgba($primary-color, .1);
$error-bg: rgba($error-color, .1);
$success-bg: rgba($success-color, .1);
$warning-bg: rgba($warning-color, .1);

$link-border: rgba($link-color, .2);
$primary-border: rgba($primary-color, .2);
$error-border: rgba($error-color, .2);
$success-border: rgba($success-color, .2);
$warning-border: rgba($warning-color, .2);

$xsmall-text: 10px;
$small-text: 12px;
$regular-text: 13px;
$medium-text: 18px;
$large-text: 20px;
$xlarge-text: 24px;

$small-margin: 10px;
$medium-margin: 15px;
$large-margin: 20px;