<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanpoom.internal_cron.crons.dashboard.order.mapper.OrderMapper">

    <select id="getIncompleteParentOrders" resultType="hanpoom.internal_cron.crons.dashboard.order.vo.Order">
        select
            parentOrders.orderNo as parentOrderNo,
            parentOrders.orderStatus as parentOrderStatus,
            parentOrders.orderDate as parentOrderDate,
            childOrders.orderNo,
            childOrders.orderStatus,
            childOrders.orderDate
        from
            (select
                 id as orderNo,
                 post_status as orderStatus,
                 post_date as orderDate
             from
                 wphpm_posts
             where
                 post_type = 'shop_order' and
                     post_status in ('wc-completed', 'wc-reg-refunded',
                                     'wc-reg-processing', 'wc-reg-preparing' , 'wc-reg-shipped',
                                         'wc-cold-refunded', 'wc-cold-processing',
                                     'wc-cold-preparing', 'wc-cold-shipped',
                                         'wc-cbe-refunded', 'wc-shipped',
                                         'wc-cbe-processing', 'wc-cbe-preparing')) as childOrders
                inner join
            (select
                 post_id as orderNo,
                 meta_value as parentOrderNo
             from
                 wphpm_postmeta
             where
                 meta_key = '_parent_order_id') as orderDetails
            on
                childOrders.orderNo = orderDetails.orderNo
                inner join
            (select
                 id as orderNo,
                 post_status as orderStatus,
                 post_date as orderDate
             from
                 wphpm_posts
             where
                 post_type = 'shop_order' and
                 post_status = 'wc-processing') as parentOrders
            on
                orderDetails.parentOrderNo = parentOrders.orderNo
        order by 1;
    </select>

    <update id="updateCompletOrders">
        update
            wphpm_posts
        set
            post_status = 'wc-order-completed'
        where
            id in
        <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </update>
</mapper>