.button, button {
    display: inline-block;
    padding: 7px 12px 6px 12px;
    border: 0px;
    width: 100%;
    transition: background-color 0.2s;
    transition: border-color 0.2s;
    border-radius: 5px;
    &.primary {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: white;
        &:hover {
            background: darken($primary-color, 20%);
            border-color: darken($primary-color, 20%);
        }
    }
    &.secondary {
        background-color:$link-bg;
        border: 1px solid $link-border;
        color: $link-color;
        &:hover {
            background: rgba($link-color, .15)
        }
    }
    &.greyed {
        color: $text-light;
    }
    &.disabled {
        background-color: $border-medium;
        border: 1px solid $border-medium;
        color: white;
        &:hover {
            background-color: $border-medium;
            border: 1px solid $border-medium;
        }
    }
    &.success {
        background-color: $success-color;
        border: 1px solid $success-color;
        color: white;

        &:hover {
            background: darken($success-color, 10%);
            border-color: darken($success-color, 10%);
        }
    }
    &:hover {
        transition: background-color 0.2s;
        transition: border-color 0.2s;
        cursor: pointer;
    }
}

.filter-button {
    border: 1px solid $border-light;
    color: $text-medium;
    display: inline-block;
    padding: 0px 10px;
    line-height: 35px;
    height: 35px;
    border-radius: 5px;

    //helps with alignment
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;

    i {
        float: right;
        padding-top: 6px;
        font-size: 20px;
        color: $text-medium;
    }
}