.delete-button-style {
    margin-bottom: 14px;
    background-color: #c0392b;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: 18px;
}

.pagination_table {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    width: 100%;
}

.pagination_table td a,
.pagination_table td span {
    padding: 20px;
    display: block;
}

tr.hidden-row {
    border-bottom: 0px!important;
}

tr.hidden-row>td {
    padding: 0px!important
}

.hide {
    display: none;
}

.show-thead {
    display: table-row;
}

td {
    line-height: 18px;
}

.highlight {
    background: rgba(13, 69, 211, 0.1);
}

.edit-btn:hover {
    cursor: pointer;
}

.actions-row.four-col .search input[type="text"] {
    width: 78%!important;
}

.search_option {
    width: 19%;
    margin-right: 5px;
}

.actions-row.four-col .search {
    position: relative;
    width: 35%!important;
}

#selectRange {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}

.range-content {
    margin: 250px auto;
    padding: 20px 40px 60px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
}

span.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.popup-header {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px auto;
}

input[type="date"] {
    border: #E0E0E0 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.notification {
    margin-bottom: 10px;
    display: none;
}

.notification-msg {
    padding: 5px 20px;
    color: #ff4757;
    background: #ffe0e3;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ff4757;
    border-radius: 5px;
}

.hidden {
    display: none;
}

h1 {
    width: 200px;
    float: left;
}

.printer {
    float: right;
    width: 50%;
}

.printer-status {
    float: left;
    width: 50%;
}

.printer-status p,
.printer-select p {
    margin-bottom: 10px;
}

.printer-status button {
    width: 130px;
}

.printer-status button.btn-success {
    background: #d9f3d9;
    color: #0f830f;
}

.printer-select {
    float: left;
    width: 50%;
    position: relative;
}

.button.greyed {
    color: #515760!important;
    border: 1px solid #c4c4c4;
}

#qz-printer .alert {
    background: white;
    padding: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

#qz-printer .close {
    float: right;
    display: inline;
    width: auto;
}

#qz-printer .printer-list,
#qz-printer .printer-list-remote {
    background: white;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

#qz-printer .alert .available {
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.printer-notifs {
    float: left;
    width: 30%;
}

.printer-notifs .alert {
    border-radius: 5px;
    padding: 10px;
}

.printer-notifs .alert-danger,
.printer-notifs .alert-warning {
    background: #ffdada;
}

.printer-notifs .alert-info {
    background: #f8efd1;
}

.printer-notifs .close {
    display: inline-block;
    float: right!important;
    width: auto;
    background: none;
    font-size: 18px;
    right: 0px;
    top: 0px;
}